@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 300vw;
}

/*
body > * {
    width: 300vw;
}
*/

h1 {
    background-color: black;
    color: white;
    font-size: 32px;
    padding-left: 10px;
    width: 100vw;
    display: flex;
    align-items:center;
    position: sticky;
    left: 0px;
}

#filename-wrapper {
    position: absolute;
    right: 80px;
}

#edit-icon {
    margin-right: 10px;
}

#filename {
    background-color: black;
    color: white;
    border: none;
    font-size: 24px;
}

#help-wrapper {
    position: absolute;
    right: 40px;
    top: 4px;
}

#mode-selector {
    display: flex;
    justify-content: stretch;
    flex-direction: row;
    height: 90px;
    /* width: 100%; */
    width: 100vw;
    position: sticky;
    top: 0px;
    left: 0px;
    background-color: white;
    z-index: 1;
    border-bottom: #eeeeee 3px solid;
}

input[type=radio] {
    display: none;
}

.icon {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: 60px 60px;
}

.centering {
    text-align: center;
}

.centering > div {
    margin: 0 auto;
}

input[type=radio]+label #pointer-icon {
    background-image: url("/pointer.png");
}

input[type=radio]:checked+label #pointer-icon {
    background-image: url("/pointer_selected.png");
}

input[type=radio]+label #seed-icon {
    background-image: url("/seed_red.png");
}

input[type=radio]:checked+label #seed-icon {
    background-image: url("/seed_red_selected.png");
}

input[type=radio]+label #can-icon {
    background-image: url("/can.png");
}

input[type=radio]:checked+label #can-icon {
    background-image: url("/can_selected.png");
}

#father, #mother {
    border-bottom: black 2px solid;
}

input[type=radio]+label #shovel-icon {
    background-image: url("/shovel.png");
}

input[type=radio]:checked+label #shovel-icon {
    background-image: url("/shovel_selected.png");
    /* background-image: url("/drop_seed.png"); */
}

/*
#mode-selector > * {
    width: 100%;
}
*/

.mode-wrapper {
    border: transparent 3px solid;
    border-right: #eeeeee 3px solid;
    flex-grow: 1;
}

.mode-wrapper:hover {
    border: #BAD3FF 3px solid;
}

.mode-wrapper label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mode-wrapper label > div {
    margin: auto 5px;
}

#ticket-icon {
    /* background-image: url("/ticket.png"); */
    background-image: url("/card.png");
}

#editor {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 300vh;
    user-select: none;
}

.pointer-cursor {
    cursor: url("/pointer_30x30.png"), default;
}

#editor:active {
    cursor: url("/pointer_grabed.png"), default;
}

.seed-cursor {
    cursor: url("/seed_red_30x30.png"), default;
}

.can-cursor {
    cursor: url("/can_30x30.png"), default;
}

.shovel-cursor {
    cursor: url("/shovel_30x30.png"), default;
}

img {
    pointer-events: none;
}

/*
.cell-width {
    width: 80px;
}
*/

.cell-size {
    width: 80px;
    height: 80px;
}

#canvas {
    margin: 0;
    /* border: black solid 5px; */
    width: 300vw;
    height: 300vh;
}

.flower-cell {
    text-align: center;
    /* line-height: 0; */
}

.flower-cell > div {
    background-color: rgba(256, 256, 256, 0.7);
}

.have-border {
    border: rgba(1, 1, 1, 0) 3px solid;
}

/*
.flower-cell, .flower-cell > * {
    margin: 0;
    padding: 0;
}
*/

.watered {
    border: aqua 3px solid;
}

#contextmenu {
    background-color: #eeeeee;
    /* border: #cccccc 1px solid; */
    position: absolute;
    display: none;
    z-index: 1;
}

#contextmenu::before {
    content: "";
    position: absolute;
    top: -57px;
    left: 0px;
    width: 0px;
    height: 0px;
    /* transform: rotate(45deg); */
    border: 28px transparent solid;
    border-bottom: 28px #eeeeee solid;
    /* border-left: 57px #BAD3FF solid; */
}

/*
#contextmenu-delete:hover, #contextmenu-hybrid:hover {
    background-color: #BAD3FF;
}
*/

.clickable {
    user-select: none;
    background-color: #eeeeee;
}

.clickable:hover {
    background-color: #BAD3FF;
}

#contextmenu-flowers-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*
.candidate-flower:hover {
    background-color: #BAD3FF;
}
*/

.grabed-img {
    height: 30px;
    width: 20px;
}

#pallet-wrapper {
    position: relative;
}

#pallet {
    position: absolute;
    left: 0px;
    top: 100%;
    width: 300px;
    height: auto;
    max-height: 600px;
    display: none;
    background-color: #eeeeee;
    overflow: scroll;
}

.sample-square {
    margin: 2px;
    width: 20px;
    height: 20px;
}

#overlay {
    z-index: 2;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    height: 105%;
    width: 105%;
    display: none;
}

#modal {
    z-index: 2;
    background-color: #eeeeee;
    width: 500px;
    height: 300px;
    position: absolute;
    top: calc(50vh - 150px);
    left: calc(50vw - 250px);
}

#batsu {
    position: absolute;
    top: 5px;
    left: calc(100% - calc(1.3em + 5px));
    z-index: 3;
    user-select: none;
}

/* https://csshtml.work/batsu-button/ より */
.batsu{
    font-size: 100%;/*ボタンの大きさ*/
    font-weight: bold;
    border: 1px solid #999;
    color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 1.3em;
    line-height: 1.3em;
    cursor: pointer;
    transition: .2s;
}

.batsu:hover{
    background: #333;
    border-color: #333;
    color: #FFF;
}

/* #delete-modal, #save-modal, #cookie-modal { */
#modal > :not(.batsu) {
    display: none;
}

#delete-modal, #cookie-modal {
    width: 100%;
    height: 100%;
}

.confirm {
    position: absolute;
    width: 300px;
    height: 50px;
    top: 20%;
    left: calc(50% - 150px);
    display: flex;
    align-items:center;
}

.yes, .no, #alert-ok {
    position: absolute;
    top: calc(70%);
    font-size: 20px;
}

.no {
    left: calc(50% + 20px);
}

.yes {
    left: calc(50% - 80px);
}

#alert-ok {
    left: calc(50% + 5px);
}

#save-modal {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.vertical-wrapper {
    width: 100%;
    height: calc(100% - 100px);
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.row-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 300px;
}

#load, #save-filename {
    width: 80%;
}

#twitter-entity {
    position: fixed;
    z-index: 4;
}

.sns.hidden {
  width: 0;
  height: 0;
  overflow: hidden;
}
